#Mehmet Cagri Aksoy

#PACE: Start of PACE I/O Pin Assignments

NET "clk"  LOC = E3	| IOSTANDARD = LVCMOS33; 
NET "reset"  LOC=J15 | IOSTANDARD=LVCMOS33; 

NET "start"  LOC=N17 | IOSTANDARD=LVCMOS33;

NET "dvsr<0>"  LOC=R15 | IOSTANDARD=LVCMOS33;
NET "dvsr<1>"  LOC=R17 | IOSTANDARD=LVCMOS33; 
NET "dvsr<2>"  LOC=T18 | IOSTANDARD=LVCMOS33; 
NET "dvsr<3>"  LOC=U18 | IOSTANDARD=LVCMOS33;
NET "dvsr<4>"  LOC=R13 | IOSTANDARD=LVCMOS33; 
NET "dvsr<5>"  LOC=T8  | IOSTANDARD=LVCMOS33;

NET "dvnd<0>"  LOC=R16 | IOSTANDARD=LVCMOS33;
NET "dvnd<1>"  LOC=T13 | IOSTANDARD=LVCMOS33;
NET "dvnd<2>"  LOC= H6 | IOSTANDARD=LVCMOS33;
NET "dvnd<3>"  LOC=V12 | IOSTANDARD=LVCMOS33;

NET "ready"  LOC=M17 | IOSTANDARD=LVCMOS33; 

NET "curr_state_led<0>"  LOC=V15 | IOSTANDARD=LVCMOS33;
NET "curr_state_led<1>"  LOC=V14 | IOSTANDARD=LVCMOS33; 
NET "curr_state_led<2>"  LOC=V12 | IOSTANDARD=LVCMOS33;
NET "curr_state_led<3>"  LOC=V11 | IOSTANDARD=LVCMOS33;

NET "seg_out<0>"  LOC=H15 | IOSTANDARD=LVCMOS33;
NET "seg_out<1>"  LOC=T10 | IOSTANDARD=LVCMOS33; 
NET "seg_out<2>"  LOC=R10 | IOSTANDARD=LVCMOS33;
NET "seg_out<3>"  LOC=K16 | IOSTANDARD=LVCMOS33;
NET "seg_out<4>"  LOC=K13 | IOSTANDARD=LVCMOS33; 
NET "seg_out<5>"  LOC=P15 | IOSTANDARD=LVCMOS33;
NET "seg_out<6>"  LOC=T11 | IOSTANDARD=LVCMOS33;
NET "seg_out<7>"  LOC=L18 | IOSTANDARD=LVCMOS33;

NET "seg_sel<0>"  LOC=J17 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<1>"  LOC=J18 | IOSTANDARD=LVCMOS33;
NET "seg_sel<2>"  LOC=T9 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<3>"  LOC=J14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<4>"  LOC=P14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<5>"  LOC=T14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<6>"  LOC=K2 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<7>"  LOC=U13 | IOSTANDARD=LVCMOS33; 


#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE