
NET "clk100Mhz"  LOC = E3	| IOSTANDARD = LVCMOS33; 
NET "enable"  LOC=J15 | IOSTANDARD=LVCMOS33; 
NET "DATA"  LOC=L16 | IOSTANDARD=LVCMOS33; 
NET "reset"  LOC=M13 | IOSTANDARD=LVCMOS33;

NET "ledo<0>"  LOC=H17 | IOSTANDARD=LVCMOS33;
NET "ledo<1>"  LOC=K15 | IOSTANDARD=LVCMOS33;
NET "ledo<2>"  LOC=J13 | IOSTANDARD=LVCMOS33;
NET "ledo<3>"  LOC=N14 | IOSTANDARD=LVCMOS33;
NET "ledo<4>"  LOC=R18 | IOSTANDARD=LVCMOS33;
NET "ledo<5>"  LOC=V17 | IOSTANDARD=LVCMOS33;
NET "ledo<6>"  LOC=U17 | IOSTANDARD=LVCMOS33;
NET "ledo<7>"  LOC=U16 | IOSTANDARD=LVCMOS33;

NET "seg_out<0>"  LOC=H15 | IOSTANDARD=LVCMOS33;
NET "seg_out<1>"  LOC=T10 | IOSTANDARD=LVCMOS33; 
NET "seg_out<2>"  LOC=R10 | IOSTANDARD=LVCMOS33;
NET "seg_out<3>"  LOC=K16 | IOSTANDARD=LVCMOS33;
NET "seg_out<4>"  LOC=K13 | IOSTANDARD=LVCMOS33; 
NET "seg_out<5>"  LOC=P15 | IOSTANDARD=LVCMOS33;
NET "seg_out<6>"  LOC=T11 | IOSTANDARD=LVCMOS33;
NET "seg_out<7>"  LOC=L18 | IOSTANDARD=LVCMOS33;

NET "seg_sel<0>"  LOC=J17 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<1>"  LOC=J18 | IOSTANDARD=LVCMOS33;
NET "seg_sel<2>"  LOC=T9 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<3>"  LOC=J14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<4>"  LOC=P14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<5>"  LOC=T14 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<6>"  LOC=K2 | IOSTANDARD=LVCMOS33; 
NET "seg_sel<7>"  LOC=U13 | IOSTANDARD=LVCMOS33; 


